<div class="header">
    <app-header></app-header>
</div>
<div class="wrap">
    <div class="main-content">
        <div class="title">
            <h2>Donate us!</h2>
            <p>
                Help can be mutual!
                Just one cent can help save someone's life
                or provide invaluable assistance.
            </p>
        </div>
        <div class="wrap-option">
            <div class="options">
                <div class="option-item">
                    <div>
                        <h3>0,99 $</h3>
                        <p>Start small.</p>
                    </div>
                    <button
                        mat-stroked-button
                        color="accent"
                    >Choose</button>
                </div>
                <div class="option-item">
                    <div>
                        <h3>4,99 $</h3>
                        <p>Any help is greatly appreciated.</p>
                    </div>
                    <button
                        mat-stroked-button
                        color="accent"
                    >Choose</button>
                </div>
                <div class="option-item">
                    <div>
                        <h3>9,99 $</h3>
                        <p>Your caring attitude is sure to save someone's life.</p>
                    </div>
                    <button
                        mat-stroked-button
                        color="accent"
                    >Choose</button>
                </div>
                <div class="option-item">
                    <div>
                        <h3>49,99 $</h3>
                        <p>Become a motivation for those around you.</p>
                    </div> 
                    <button
                        mat-stroked-button
                        color="accent"
                    >Choose</button>
                </div>
            </div>
            <button
                mat-stroked-button
                color="accent"
            >
                Choose other amount
            </button>
        </div>
        <div class="subscribe">
            <div class="description">
                <h1>You can also subscribe</h1>
                <p>Choose a payment method convenient for you and the period in which you are ready and able to deposit funds!</p>
                <p>What is more important, you can choose the amout you want to share all by yourself.</p>
            </div>
            <div class="action">
                <img src="assets/logo/coin.png">
                <button
                    mat-stroked-button
                    color="accent"
                >
                    Subscribe
                </button>
                <p>Unsubscribe</p>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>