<div class="authorization">
    <div class="logo">
        <img src="assets/logo/_logo_fin.png" alt="911" />
    </div>
    <p class="logo-subtitle">WHAT IS YOUR <span>EMERGENCY?</span></p>
    <h2>Authorization</h2>
    <div class="form-aut" [formGroup]="formAuthorization">
        <mat-form-field class="form-element" appearance="fill">
            <mat-label>Login:</mat-label>
            <input matInput name="login" placeholder="Enter your login" formControlName="login" />
        </mat-form-field>
        <div class="error">
            <p *ngIf="result?.status===0">{{result?.message}}</p>
        </div>
        <mat-form-field class="form-element" appearance="fill">
            <mat-label>Password:</mat-label>
            <input matInput name="password" type="password" formControlName="password" />
        </mat-form-field>
        <div class="error">
            <p *ngIf="result?.status===1">{{result?.message}}</p>
        </div>
    </div>

    <div class="buttons-actions">
        <button 
            mat-stroked-button color="accent" 
            (click)="navigateToHome()"
        >Log in</button>
    </div>
</div>
