<div class="wrap-slider">
    <mat-tab-group mat-stretch-tabs headerPosition="below">
        <!-- <mat-radio-group> -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-radio-button class="example-radio-button">
                    </mat-radio-button>
                </ng-template>
                Content 1
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-radio-button class="example-radio-button">
                    </mat-radio-button>
                </ng-template>
                Content 2
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-radio-button class="example-radio-button">
                    </mat-radio-button>
                </ng-template>
                Content 3
            </mat-tab>
        <!-- </mat-radio-group> -->
    </mat-tab-group>
</div>
