<div class="wrap-slider">
    <mat-tab-group mat-stretch-tabs headerPosition="below" class="slider">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-radio-button class="slide-radio-button">
                    </mat-radio-button>
                </ng-template>
                <div class="slide">
                    <img src="assets/logo/slider_donates.png" alt="call">
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-radio-button class="slide-radio-button">
                    </mat-radio-button>
                </ng-template>
                <div class="slide">
                    <img src="assets/logo/slider_donates.png" alt="news">
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-radio-button class="slide-radio-button">
                    </mat-radio-button>
                </ng-template>
                <div class="slide">
                    <img src="assets/logo/slider_news.png" alt="donates">
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-radio-button class="slide-radio-button">
                    </mat-radio-button>
                </ng-template>
                <div class="slide">
                    <img src="assets/logo/slider_donates.png" alt="donates">
                </div>
            </mat-tab>
    </mat-tab-group>
</div>
