<div class="header">
    <app-header></app-header>
</div>
<div class="wrap">
    <div class="main-content">
        <h6 class="mission-title">Our mission</h6>
            <div class="mission">
                <p>
                    This application was created with the aim of providing 
                    free assistance to everyone who may need it during a difficult period or moment of life.
                </p>
            </div>
        <h6 class="team-title">Our team</h6>
            <div class="team">
                <div class="member1" >
                    <div class="avatar">
                        <img src="assets/logo/ceo.png">
                    </div>
                    <h4>CEO</h4>
                    <p>
                        Sasha spends a lot of his free time in shelters for homeless animals who need money to heal 
                        their paws and a little bit of human love to heal their heart.
                    </p>
                </div>
                <div class="member2">
                    <p>
                        Jena spends a lot of his free time in shelters for homeless animals who need money to heal 
                        their paws and a little bit of human love to heal their heart.
                    </p>
                    <h4>Art-director</h4>
                    <div class="avatar">
                        <img src="assets/logo/art-derector.png">
                    </div>
                </div>
                <div class="member3">
                    <div class="avatar">
                        <img src="assets/logo/manager.png">
                    </div>
                    <h4>Manager</h4>
                    <p>
                        Kate spends a lot of his free time in shelters for homeless animals who need money to heal 
                        their paws and a little bit of human love to heal their heart.
                    </p>
                </div>
            </div>
        <h6 class="partners-titles">Our partners</h6>
            <div class="partners">
                <div><img src="assets/partnership/kot_v_okoshke.png" alt="kot-v-okoshke"></div>
                <div><img src="assets/partnership/mechta_veterana.png" alt="mechta_veterana"></div>
                <div><img src="assets/partnership/nasiliy_net.png" alt="nasiliy_net"></div>
                <div><img src="assets/partnership/podari_zhizn.png" alt="podari_zhizn"></div>
                <div><img src="assets/partnership/pso_angel.png" alt="pso_angel"></div>
            </div>
    </div>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>