<div class="header">
    <app-header></app-header>
</div>
<div class="wrap">
    <div class="main-content">
        <div class="wrap-action">
            <ul class="main-actions">
                <li class="contact">
                    <img src="assets/logo/new-message.png" alt="newmessage">
                </li>
                <li class="contact">
                    <img src="assets/logo/call.png" alt="call">
                </li>
                <li class="contact">
                    <img src="assets/logo/ready-message.png" alt="readymessage">
                </li>
            </ul>
        </div>
        <app-advices-shell></app-advices-shell>
        <app-news-shell></app-news-shell>
    </div>
</div>
<app-footer></app-footer>