@import '/src/styles/core/color-pallete';

:host {
    display: flex;
    // padding: 50px;
    align-items: stretch;
    background-color: $background-main;
    gap: 20px;
    margin-bottom: 20px;
}

.img-description {
    width: 60%;
    flex: 1 1 auto;
    // height: 600px;
    background: url(/assets/advices/advices-base.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 4px;


    img {
        max-width: 100%;
    }
}

.list-advices {
    width: 40%;
    display: flex;
    flex-direction: column;
}