@import '/src/styles/core/color-pallete';

:host {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    max-width: 1200px;
}

.wrap {
    background-color: $background-main;
    padding: 0 50px;
    padding-top: 20px;
}

.main-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advices-img {
    width: 500px;
}

.advices-list {
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

.current-advice {
    width: 40%;
}

.current-advice-title {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    border-bottom: 2px solid white;
    padding: 10px;
}

.footer {
    width: 100%;
}