<app-settings-header></app-settings-header>
<div class="content">
    <div class="settings-item large wrap-avatar">
        <img class="avatar" [src]="currentAvatar" alt="avatar">
        <div class="avatar-mask" (click)="inputFile.click()">
            <span class="icon icon-avatar material-icons-outlined">
                add_a_photo
            </span>
            <input 
                type="file"
                class="input-hidden"
                (change)="onFileSelected($event)"
                #inputFile
            />
        </div>
    </div>
    <div class="settings-item middle action" (click)="navigateToHome()">
        <img class="img-action" src="assets/avatars/homeicon400.png" alt="home">
    </div>
    <div class="settings-item middle action" (click)="openSettings($event)">
        <img class="img-action" src="assets/avatars/settingsicon400.png" alt="settings">
    </div>
    <div class="settings-item middle action" (click)="navigateToExit()">
        <img class="img-action" src="assets/avatars/exiticon400.png" alt="exit">
    </div>
</div>
<app-settings-footer></app-settings-footer>
