<div class="footer-about">
    <h6>About Us</h6>
    <ul>
        <li>Home</li>
        <li>Our partners</li>
        <li>Site map</li>
        <li>FAQ</li>
        <li>Donates</li> 
        <!-- // -->
    </ul>
</div>
<div class="footer-contacts">
    <h6>Our contacts</h6>
    <ul>
        <li>Phone: + 375 (44) 000-00-00</li>
        <li>E-mail: 911@gmail.com</li>
        <li>Adress: st. One, 73-1</li>
    </ul>
</div>
<div class="footer-social">
    <h6>We are in social media</h6>
    <ul>
        <li><img src="assets/socialmedia/facebook.png" alt="facebook" ></li>
        <li><img src="assets/socialmedia/instagram.png" alt="instagram" ></li>
        <li><img src="assets/socialmedia/twitter.png" alt="twitter" ></li>
    </ul>
</div>
<div class="footer-language">
    <mat-form-field appearance="fill">
        <mat-label class="select-language">Choose language</mat-label>
        <mat-select>
          <mat-option value="English">
            English
          </mat-option>
          <mat-option value="Irish">
            Irish
          </mat-option>
          <mat-option value="French">
            French
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>